@import "tailwindcss";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-page: #f0f4f8;
  --bg-card: #ffffff;
  --text-primary: #1f2937;
}

body[data-theme="dark"] {
  --bg-page: #141414;
  --bg-card: #1f1f1f;
  --text-primary: #ffffff;
}

body[data-theme="light"] {
  --bg-page: #f0f4f8;
  --bg-card: #ffffff;
  --text-primary: #1f2937;
}