.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    :global(.ant-select) {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #E61B35;
    }
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 8px;
}